language: ruby
before_install: gem install bundler
bundler_args: --without yard guard benchmarks
script: "bundle exec rake spec"
rvm:
  - 1.8.7
  - ree
  - 1.9.2
  - 1.9.3
  - jruby-18mode
  - jruby-19mode
  - jruby-head
  - rbx-18mode
  - rbx-19mode
  - ruby-head
notifications:
  email:
    - piotr.solnica@gmail.com
    - dan.kubb@gmail.com
